/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
	HTML Reset for negating the differences between browsers
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Viewport declarations for other browsers */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/* The NS font files for use on the website */

@font-face {
	font-family: "NS Sans";
	src: url('fonts/nssanbit-webfont.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "NS Sans";
	src: url('fonts/nssanbol-webfont.ttf');
	font-weight: bold;
}

@font-face {
	font-family: "NS Sans";
	src: url('fonts/nssanita-webfont.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "NS Sans";
	src: url('fonts/nssans__-webfont.ttf');
	font-weight: normal;
}


html {
  box-sizing: border-box;
	font-size: 100%;
	font-family: "NS Sans", Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
  Typografier || Code released under the UNLICENSE
  https://typografier.web-dev.tools/#0,100,1.3,1.067,0;38,110,1.4,1.125,0;60,120,1.5,1.125,0;90,130,1.5,1.125,0
*/

html {
  font-size: 100%;
  line-height: 1.3;
}

body {
	line-height: 1.3;
	color: #003082;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
	text-decoration: none;
	color: #0079d3;
}

a:hover {
	color: #003082;
}

sub,
sup {
  font-size: .75em;
  line-height: 1px;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

pre,
code,
kbd,
samp {
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bold;
}

dfn,
caption {
  font-style: italic;
}

hr {
  border: 0;
  border-top: 2px solid #000;
  height: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

caption {
  text-align: left;
}

th,
td {
  border-bottom: 1px solid #000;
  text-align: left;
  vertical-align: top;
}

thead th {
  vertical-align: bottom;

  border-bottom-width: 2px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 52em;
  width: 100%;
}

.wrapper-no-center {
  max-width: 52em;
  width: 100%;
}

.max-length {
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
  width: 100%;
}

.max-length-no-center {
  max-width: 36em;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote,
details,
hr,
fieldset,
pre,
table,
caption {
  margin: 0 0 1.3rem;
}

.tenamega {
  font-size: 2.0408rem;
  line-height: 2.925rem;
}

.tenakilo {
  font-size: 1.9127rem;
  line-height: 2.6rem;
}

.tena {
  font-size: 1.7926rem;
  line-height: 2.6rem;
}

.nina {
  font-size: 1.68rem;
  line-height: 2.275rem;
}

.yotta {
  font-size: 1.5745rem;
  line-height: 2.275rem;
}

.zetta {
  font-size: 1.4757rem;
  line-height: 1.95rem;
}

h1,
.exa {
  font-size: 1.383rem;
  line-height: 1.95rem;
}

h2,
.peta {
  font-size: 1.2962rem;
  line-height: 1.95rem;
}

h3,
.tera {
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

h4,
.giga {
  font-size: 1.1385rem;
  line-height: 1.625rem;
}

h5,
.mega {
  font-size: 1.067rem;
  line-height: 1.625rem;
}

h6,
.kilo,
input,
textarea {
  font-size: 1rem;
  line-height: 1.3rem;
}

small,
.milli {
  font-size: .9372rem;
  line-height: 1.3rem;
}

.micro {
  font-size: .8784rem;
  line-height: 1.3rem;
}

.nano {
  font-size: .8232rem;
  line-height: 1.3rem;
}

.pico {
  font-size: .7715rem;
  line-height: 1.3rem;
}

ul {
  padding-left: 1em;
}

ol {
  padding-left: 1.6em;
}

input,
option,
select {
  height: calc(1.3rem + .1625rem + .1625rem);
}

[type="color"] {
  width: calc(1.3rem + .1625rem + .1625rem);
}

[type="checkbox"],
[type="radio"] {
  display: inline-block;
  height: auto;
}

td,
table th {
  padding: .325rem;
}

input:not([type="checkbox"]),
input:not([type="radio"]),
textarea {
  padding: .1625rem;
}

caption {
  padding-left: .325rem;
  padding-right: .325rem;
}

select {
  padding: 0 .1625rem;
}

fieldset {
  padding: .325rem 0;
/*
  border: 0;
  border-top: 2px solid #000; */
}

legend {
  padding-right: .325rem;
}

/* -----------------------------------------------------------------------------
	Header
----------------------------------------------------------------------------- */

body > header {
	display: flex;
	position: sticky;
	top: 0;
	background-color: #ffffff;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 53rem;
	min-height: 3.75rem;
	padding: 1rem 1rem;
	margin: 0 auto;
	-webkit-box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
	box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
	z-index: 1;
}

body header h1 a {
	display: flex;
	align-content: center;
}

body > header > nav > ul {
	display: flex;
}

body > header > nav > ul > li {
	margin-right: 1.75rem;
}

header > nav > ul > li > a {
	position: relative;
	padding-left: 2rem;
}

header > nav > ul > li > a::before {
	display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
	/* transform: scale(1); */
  width: 1.3rem;
  height: 1.3rem;
  pointer-events: none;
  -webkit-transition: transform .1s ease-out;
  transition: transform .1s ease-out;
  content: "";
  position: absolute;
  top: -.1rem;
  left: 0;
}

header > nav > ul > li:first-child > a::before {
	background-image: url('images/zoek.svg');
}

header > nav > ul > li:nth-child(2) > a::before {
	background-image: url('images/leeslijst.svg');
}

header > nav > ul > li:nth-child(2) #leeslijst::after {
	content: "+1";
	color: white;
	padding: .5rem;
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: #E6B517;
	position: absolute;
	top: 90%;
	left: 50%;
	opacity: 0;
	transform: translateX(-50%);
	pointer-events: none;
	transition: all .3s ease-in-out;
}

header > nav > ul > li:nth-child(2) #leeslijst.save-to-list::after {
	top: 120%;
	opacity: 1;
}

header > nav > ul > li:last-child > a::before {
	background-image: url('images/login.svg');
}

header > nav > ul > li > a:hover::before {
	transform: scale(1.1);
}

body > header > nav > ul > li:last-child {
	margin-right: 0;
}

body > header * {
	margin-bottom: 0;
}

body header h1 {
	font-weight: bold;
}

/* -----------------------------------------------------------------------------
	Intro banner
----------------------------------------------------------------------------- */

main {
	background-color: #e6e6e9;
}

main section:first-child {
	height: 300px;
	background: url("images/BGImage-1.png") no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

main section:first-child::before {
	content: "";
	margin-bottom: 3rem;
}

main section:first-child * {
	display: inline-block;
}

main section:first-child h2 {
	font-size: 2.2807rem;
	font-weight: bold;
	line-height: 3.15rem;
	width: 90%;
	max-width: 53rem;
	margin: 0 auto;
}

main section:first-child p {
	width: 45%;
	max-width: 26.5rem;
	margin: 0 auto;
	transform: translateX(-50%);
}

/* -----------------------------------------------------------------------------
	Featured
----------------------------------------------------------------------------- */

main > section:nth-child(2) {
	width: 90%;
	max-width: 53rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	transform: translateY(-2rem);
}

main > section:nth-child(2) > a {
	transition: all .3s ease;
	color: rgba(255,255,255,.8);
}

main > section:nth-child(2) > a > h3 {
	font-weight: bold;
}

main > section:nth-child(2) > a:first-child {
	background: url('images/Angst.png') no-repeat right;
	background-size: cover;
	padding: 1rem;
	width: 100%;
	margin-right: 1.3rem;
	margin-bottom: 1.3rem;
}

main > section:nth-child(2) > a:hover {
	transform: scale(1.05);
	color: #FFFFFF;
}

main > section:nth-child(2) a:last-child {
	background: url('images/HongerwinterLang.png') no-repeat center;
	background-size: cover;
	background-color: #FFC917;
	padding: 1rem;
}

main > section:nth-child(2) * {
	margin: 0;
}

main > section:nth-child(2) > * {
	position: relative;
	min-height: 13rem;
	-webkit-box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
	box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
}

/* -----------------------------------------------------------------------------
	Filter bar
----------------------------------------------------------------------------- */

button {
	font-family: "NS Sans", Arial, sans-serif;
}

main > section:nth-of-type(3) > header {
	display: flex;
	flex-wrap: wrap;
}

main > section:nth-of-type(3) > header > * {
	width: 100%;
}

form > label:first-of-type,
#inloggen form > label:nth-child(2) {
	padding: .65rem 1.3rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-content: center;
	width: 100%;
	background-color: white;
	margin-bottom: 1.3rem;
}

form input[type=text],
form input[type=email],
form input[type=password] {
	border: 0;
	padding: 0;
	width: 100%;
	outline: none;
	font-family: "NS Sans", Arial, sans-serif;
}

form label:first-of-type input:focus {
	border: 0;
}

form span {
	display: inline-block;
	color: #003082;
	font-weight: bold;
	margin-right: 1.3rem;
	height: 100%;
	/* line-height: 37px; */
}

#inloggen form span {
	width: 10rem;
}

main > section:nth-of-type(3) form > label:nth-of-type(2) {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

main > section:nth-of-type(3) form > label:nth-of-type(3) {
	position: absolute;
	top: 1rem;
	right: calc(.65rem + 1.3rem + 125px);
}

/* Buttons */

main button,
main input[type=submit] {
	position: relative;
	font-family: "NS Sans", Arial, sans-serif;
	font-size: .8rem;
	padding: .65rem 1rem;
	border: none;
	background-color: #0079D3;
	color: #FFF;
	height: auto;
	line-height: normal;
	cursor: pointer;
	box-shadow: inset 0 -0.125rem 0 #005ca0;
	transition: box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

main input[type=submit] {
	font-size: 1rem;
}

main button:hover,
main input[type=submit]:hover {
	box-shadow: inset 0 -3.125rem 0 #005ca0;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

form fieldset {
	margin-bottom: 0;
}

form fieldset div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

form fieldset div legend {
	width: 100%;
}

form label:last-child {
	align-self: flex-end;
}

/* -----------------------------------------------------------------------------
	Collection
----------------------------------------------------------------------------- */

main > section:nth-child(3) {
	width: 90%;
	max-width: 53rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

main > section:nth-child(3) > * {
	padding: 1rem;
}

main > section:nth-child(3) > *:not(header) {
	background-color: #FFFFFF;
	color: #FFFFFF;
	width: 100%;
	height: 300px;
	max-width: calc(50% - 0.65rem);
	margin-bottom: 1.3rem;
}

main > section:nth-child(3) > *:not(header) a {
	color: #eee;
	mix-blend-mode: exclusion;
	transition: color .15s ease-in-out;
}

main > section:nth-child(3) > *:not(header) a:hover {
	color: #ddd;
	mix-blend-mode: exclusion;
}

main > section:nth-child(3) > section:nth-of-type(odd) {
	margin-right: 1.3rem;
}

main > section:nth-child(3) > header {
	background-color: #FFC917;
	width: 100%;
	margin-bottom: 1.3rem;
}

main > section:nth-child(3) > * {
	position: relative;
	-webkit-box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
	box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
}

main > section:nth-child(3) > *:not(header) > h2 {
	font-weight: bold;
}

main > section:nth-child(3) > *:not(header) > a:last-child {
	background-color: #E6B517;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	right: 1rem;
	top: 1rem;
	mix-blend-mode: unset !important;
	transform: scale(1);
	transition: all .15s ease-in-out;
}

/* Micro-interacties */

.checkmark {
	position: absolute;
	padding: 0;
	margin: 0 auto;
	height: 50px;
	width: 50px;
	top: 0;
	left: 0;
	opacity: 0;
	transform: translateY(25%);
	transition: all .15s ease-in;
}

.save-checkmark {
	transform: translateY(0);
	opacity: 1;
}

main > section:nth-child(3) > *:not(header) .save-plus {
	transform: translateY(-25%);
	opacity: 0;
	z-index: -1;
}

.download-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	right: 1rem;
	top: calc(1rem+50px+.5rem);
	background-color: transparent;
	border: 4px solid #E6B517;
	box-shadow: inset 0 -0.125rem 0 #E6B517;
}

.download-button:focus {
	outline: none;
}

.download-button:hover {
	box-shadow: inset 0 -0.125rem 0 #E6B517;
}

.download-button svg {
	pointer-events: none;
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	padding: 0;
	transform: translate(-50%, -50%);
}

.download-button svg path {
	stroke: #eee;
}

.downloaded {
	animation: downloading 3s forwards;
}

.add-to-list {
	pointer-events: none;
}
.add-to-list img {
	pointer-events: all;
}

@keyframes downloading {
	0% {
		box-shadow: inset 0 -0.125rem 0 #E6B517;
	}
	10% {
		box-shadow: inset 0 -0.725rem 0 #E6B517;
	}
	40% {
		box-shadow: inset 0 -1.125rem 0 #E6B517;
	}
	60% {
		box-shadow: inset 0 -1.725rem 0 #E6B517;
	}
	75% {
		box-shadow: inset 0 -2.125rem 0 #E6B517;
	}
	100% {
		box-shadow: inset 0 -3.125rem 0 #E6B517;
	}
}

.progress-button button:hover {
	background-color: #E6B517;
	color: #fff;
	box-shadow: none;
}

main > section:nth-child(3) > *:not(header) > a:last-child:hover {
	background-color: #FFC917;
	transform: scale(1.1);
}

main > section:nth-child(3) > *:not(header) img {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	opacity: 1;
	transform: translateY(0);
	transition: all .15 ease-in-out;
}

main > section:nth-child(3) > *:not(header) > h2 {
	max-width: 80%;
}

main > section:nth-child(3) > *:not(header) > p:first-of-type {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 1.3rem;
}

main > section:nth-child(3) > *:not(header) > p:last-of-type {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 1.3rem;
}

/* Story background images */

main > section:nth-child(3) > section:nth-child(2) {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('images/hongerwinter-thumb.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main > section:nth-child(3) > section:nth-child(2):hover {
	background-image: url('images/hongerwinter-thumb.png');
	color: black !important;
}

main > section:nth-child(3) > section:nth-child(3) {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('images/droom-thumb.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main > section:nth-child(3) > section:nth-child(3):hover {
	background-image: url('images/droom-thumb.png');
	color: black !important;
}

main > section:nth-child(3) > section:nth-child(4) {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('images/schoorsteen-thumb.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main > section:nth-child(3) > section:nth-child(4):hover {
	background-image: url('images/schoorsteen-thumb.png');
}

main > section:nth-child(3) > section:nth-child(5) {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('images/kater.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main > section:nth-child(3) > section:nth-child(5):hover {
	background-image: url('images/kater.png');
	color: black !important;
}

main > section:nth-child(3) > section:nth-child(6) {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('images/paranoia.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main > section:nth-child(3) > section:nth-child(6):hover {
	background-image: url('images/paranoia.png');
}

main > section:nth-child(3) > section:nth-child(7) {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('images/managerstaal.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main > section:nth-child(3) > section:nth-child(7):hover {
	background-image: url('images/managerstaal.png');
	color: black !important;
}

main > section:nth-child(3) > section:nth-child(8) {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('images/de-cock-en-het-raadsel-van-het-verdwenen-boek.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main > section:nth-child(3) > section:nth-child(8):hover {
	background-image: url('images/de-cock-en-het-raadsel-van-het-verdwenen-boek.png');
}

main > section:nth-child(3) > section:nth-child(9) {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('images/nacht-thumb.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main > section:nth-child(3) > section:nth-child(9):hover {
	background-image: url('images/nacht-thumb.png');
}

/* -----------------------------------------------------------------------------
	Tiles hover effects
----------------------------------------------------------------------------- */
.tile {
	transition: all .3s ease;
}

.tile:hover {
	transform: scale(1.05);
	/* background-image: url('images/hongerwinter-thumb.png') !important; */
}

/* -----------------------------------------------------------------------------
	Footer
----------------------------------------------------------------------------- */

body > footer {
	height: 4rem;
}

/* -----------------------------------------------------------------------------
	Inlogpagina
----------------------------------------------------------------------------- */

#inloggen {
	background-color: #e6e6e9;
}

#inloggen header {
	background-color: #e6e6e9;
	box-shadow: none;
}

#inloggen main section:first-child {
	width: 90%;
	max-width: 53rem;
	height: 350px;
	margin: 0 auto;
	background: #FFC917;
	display: flex;
	padding: 2.6rem;
	align-items: flex-start;
	flex-wrap: wrap;
}

#inloggen main section:first-child h1 {
	display: block;
	width: 100%;
}

#inloggen main section:first-child::before {
	content: "";
	margin-bottom: 0;
}

#inloggen main section:first-child h1::before {
	margin-top: 0;
}

#inloggen main section:first-child h1 {
	margin-top: 0;
}

#inloggen main section:first-child form {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	width: 100%;
	/* max-width: calc(100% - 5.2rem); */
}

#inloggen main section:first-child form label {
	margin-bottom: 1rem;
}

#inloggen form label:last-child {
	align-self: flex-end;
}

#inloggen input:invalid {
	color: red;
}



/* -----------------------------------------------------------------------------
	Media Query 38em
----------------------------------------------------------------------------- */

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

	body {
		line-height: 1.4;
	}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  dd,
  figure,
  blockquote,
  details,
  hr,
  fieldset,
  pre,
  table,
  caption {
    margin: 0 0 1.4rem;
  }

  .tenamega {
    font-size: 3.6532rem;
    line-height: 4.9rem;
  }

  .tenakilo {
    font-size: 3.2473rem;
    line-height: 4.55rem;
  }

  .tena {
    font-size: 2.8865rem;
    line-height: 3.85rem;
  }

  .nina {
    font-size: 2.5658rem;
    line-height: 3.5rem;
  }

  .yotta {
    font-size: 2.2807rem;
    line-height: 3.15rem;
  }

  .zetta {
    font-size: 2.0273rem;
    line-height: 2.8rem;
  }

  h1,
  .exa {
    font-size: 1.802rem;
    line-height: 2.45rem;
  }

  h2,
  .peta {
    font-size: 1.6018rem;
    line-height: 2.1rem;
  }

  h3,
  .tera {
    font-size: 1.4238rem;
    line-height: 2.1rem;
  }

  h4,
  .giga {
    font-size: 1.2656rem;
    line-height: 1.75rem;
  }

  h5,
  .mega {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  h6,
  .kilo,
  input,
  textarea {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  small,
  .milli {
    font-size: .8889rem;
    line-height: 1.4rem;
  }

  .micro {
    font-size: .7901rem;
    line-height: 1.4rem;
  }

  .nano {
    font-size: .7023rem;
    line-height: 1.05rem;
  }

  .pico {
    font-size: .6243rem;
    line-height: 1.05rem;
  }

  ul {
    padding-left: 1em;
  }

  ol {
    padding-left: 1.6em;
  }

  input,
  option,
  select {
    height: calc(1.4rem + .175rem + .175rem);
  }

  [type="color"] {
    width: calc(1.4rem + .175rem + .175rem);
  }

  [type="checkbox"],
  [type="radio"] {
    display: inline-block;
    height: auto;
  }

  td,
  table th {
    padding: .35rem;
  }

  input:not([type="checkbox"]),
  input:not([type="radio"]),
  textarea {
    padding: .175rem;
  }

  caption {
    padding-left: .35rem;
    padding-right: .35rem;
  }

  select {
    padding: 0 .175rem;
  }

  fieldset {
    padding: .35rem 0;

    /* border: 0;
    border-top: 2px solid #000; */
  }

  legend {
    padding-right: .35rem;
  }

	/* Header */

	body > header {
		padding: 1rem 2rem;
	}

	/* Intro */

	main section:first-child {
		height: 480px;
	}

	#inloggen main section:first-child {
		height: 450px;
	}

	main section:first-child::before {
		margin-bottom: 6rem;
	}

	/* Featured */

	main > section:nth-child(2) {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	main > section:nth-child(2) {
		flex-wrap: nowrap;
	}

	main > section:nth-child(2) a:first-child {
		margin-bottom: 0;
	}

	main > section:nth-child(2) a:last-child {
		background: url('images/HongerwinterKort.png') no-repeat center;
	}

	/* Filter bar */

	main > section:nth-of-type(3) form > label:nth-of-type(3) {
		right: calc(.65rem + 1.3rem + 136px);
	}

}

/* -----------------------------------------------------------------------------
	Media Query 60em
----------------------------------------------------------------------------- */

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

	body {
		line-height: 1.5;
	}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  dd,
  figure,
  blockquote,
  details,
  hr,
  fieldset,
  pre,
  table,
  caption {
    margin: 0 0 1.5rem;
  }

  .tenamega {
    font-size: 3.6532rem;
    line-height: 4.875rem;
  }

  .tenakilo {
    font-size: 3.2473rem;
    line-height: 4.5rem;
  }

  .tena {
    font-size: 2.8865rem;
    line-height: 4.125rem;
  }

  .nina {
    font-size: 2.5658rem;
    line-height: 3.375rem;
  }

  .yotta {
    font-size: 2.2807rem;
    line-height: 3rem;
  }

  .zetta {
    font-size: 2.0273rem;
    line-height: 3rem;
  }

  h1,
  .exa {
    font-size: 1.802rem;
    line-height: 2.625rem;
  }

  h2,
  .peta {
    font-size: 1.6018rem;
    line-height: 2.25rem;
  }

  h3,
  .tera {
    font-size: 1.4238rem;
    line-height: 1.875rem;
  }

  h4,
  .giga {
    font-size: 1.2656rem;
    line-height: 1.875rem;
  }

  h5,
  .mega {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  h6,
  .kilo,
  input,
  textarea {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  small,
  .milli {
    font-size: .8889rem;
    line-height: 1.5rem;
  }



  ul {
    padding-left: 1em;
  }

  ol {
    padding-left: 1.6em;
  }

  input,
  option,
  select {
    height: calc(1.5rem + .1875rem + .1875rem);
  }

  [type="color"] {
    width: calc(1.5rem + .1875rem + .1875rem);
  }

  [type="checkbox"],
  [type="radio"] {
    display: inline-block;
    height: auto;
  }

  td,
  table th {
    padding: .375rem;
  }

  input:not([type="checkbox"]),
  input:not([type="radio"]),
  textarea {
    padding: .1875rem;
  }


  caption {
    padding-left: .375rem;
    padding-right: .375rem;
  }



  select {
    padding: 0 .1875rem;
  }

  fieldset {
    padding: .375rem 0;
/*
    border: 0;
    border-top: 2px solid #000; */
  }

  legend {
    padding-right: .375rem;
  }

	/* Collection */

	main > section:nth-child(3) > *:not(header) {
		max-width: calc(33.3333% - 0.8666rem);
		margin-right: 1.3rem;
	}

	main > section:nth-child(3) > section:nth-of-type(3n) {
		margin-right: 0;
	}

	/* Filter bar */

	main > section:nth-of-type(3) form > label:nth-of-type(3) {
		right: calc(.65rem + 1.3rem + 147px);
	}

}

/* -----------------------------------------------------------------------------
	Media Query 90em
----------------------------------------------------------------------------- */

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

	body {
		line-height: 1.5;
	}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  dd,
  figure,
  blockquote,
  details,
  hr,
  fieldset,
  pre,
  table,
  caption {
    margin: 0 0 1.5rem;
  }

  .tenamega {
    font-size: 3.6532rem;
    line-height: 4.875rem;
  }

  .tenakilo {
    font-size: 3.2473rem;
    line-height: 4.5rem;
  }

  .tena {
    font-size: 2.8865rem;
    line-height: 4.125rem;
  }

  .nina {
    font-size: 2.5658rem;
    line-height: 3.375rem;
  }

  .yotta {
    font-size: 2.2807rem;
    line-height: 3rem;
  }

  .zetta {
    font-size: 2.0273rem;
    line-height: 3rem;
  }

  h1,
  .exa {
    font-size: 1.802rem;
    line-height: 2.625rem;
  }

  h2,
  .peta {
    font-size: 1.6018rem;
    line-height: 2.25rem;
  }

  h3,
  .tera {
    font-size: 1.4238rem;
    line-height: 1.875rem;
  }

  h4,
  .giga {
    font-size: 1.2656rem;
    line-height: 1.875rem;
  }

  h5,
  .mega {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  h6,
  .kilo,
  input,
  textarea {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  small,
  .milli {
    font-size: .8889rem;
    line-height: 1.5rem;
  }

  .micro {
    font-size: .7901rem;
    line-height: 1.5rem;
  }

  .nano {
    font-size: .7023rem;
    line-height: 1.125rem;
  }

  .pico {
    font-size: .6243rem;
    line-height: 1.125rem;
  }

  ul {
    padding-left: 1em;
  }

  ol {
    padding-left: 1.6em;
  }

  input,
  option,
  select {
    height: calc(1.5rem + .1875rem + .1875rem);
  }

  [type="color"] {
    width: calc(1.5rem + .1875rem + .1875rem);
  }

  [type="checkbox"],
  [type="radio"] {
    display: inline-block;
    height: auto;
  }

  td,
  table th {
    padding: .375rem;
  }

  input:not([type="checkbox"]),
  input:not([type="radio"]),
  textarea {
    padding: .1875rem;
  }

  caption {
    padding-left: .375rem;
    padding-right: .375rem;
  }

  select {
    padding: 0 .1875rem;
  }

  fieldset {
    padding: .375rem 0;
/*
    border: 0;
    border-top: 2px solid #000; */
  }

  legend {
    padding-right: .375rem;
  }

	/* Filter bar */

	main > section:nth-of-type(3) form > label:nth-of-type(3) {
		right: calc(.65rem + 1.3rem + 158px);
	}

}
